/*
 *  Resets & HTML5 blocks
 */

/* general styling */
* { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-size:inherit; }
html{overflow-y:scroll;}
body {
	font-size:1em;
	background-color:#bbbbbb;
	color:#000;
	margin:0 auto;
	border:1 #ddd solid;
	padding:0 0.5em;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
font-family: Arial, Helvetica, sans-serif;
}

h1 {font-size:200%; margin:0.5em 0; font-weight:normal;}
h2 {font-size:150%; margin:1em 0 0.5em; font-weight:normal;}
h3 {font-size:137.5%; border-bottom: 1px solid #EEE; margin: 0 0 .4em; font-weight:normal;}
h4 {font-size:125%;}
h5 {font-size:112.5%;}
h6 {font-size:100%;}

h1,h2,h3,h4,h5,h6
{
background-color:transparent;
color:#blue;
}
h4,h5,h6 {margin:0.4em 0;}

div {width:100%;}
table,th,td,input,textarea
{
font-size:100%;
}

img
{
border:0
}
img.float {float:left;}

p {line-height:1.125em;}
ul {
	list-style:none;
}
li {line-height:normal; font-size:0.8em;}

hr
{
background-color:#d4d4d4;
color:#d4d4d4;
height:1px;
margin:0.5em 0;
border:0px;
clear:both;
width:80%;
}

#events {
	 text-align:center;
	 padding-top:5px;
	 width:196px;
}

footer	{
	display:block;
	width:800px;
	margin:0px auto;
	text-align:center;
	margin-top:5px;
	margin-bottom:10px;
	background-color: #ffcc00;
	color: #010066;
	font-size: 1em;
	font-weight: bold;
	padding:1em 0;
}


.boldItalic {font-style: italic; font-weight: bold;}
.blue1 {color: #003;}
.blue2 {color: #010066;}
.smaller {font-size:0.75em;}
.small {font-size:0.875em;}
.big {font-size:1em;}



.style1 {color: #000033; font-style: italic; font-weight: bold; font-size: 16px; }
.style2 {color: #FF9900; font-size: 14px; font-weight: bold; font-style: italic; }
.style3 {font-weight: bold; font-size: 14px; color: #010066; }
.style4 {font-size: 14px; color: #010066; }
.style5 {font-size: 10px; }
.style6 {font-size: 14px; font-weight: bold; color: #010066; }
.style7 {font-size: 13px; }
.style8 {font-size: 12px; font-style: italic; color: #01005C; }
.style9 {color: #000000; font-size: 16px;}
.style10 {color: #010066; font-size: 14px; font-weight: bold; }
.style11 {color: #000033; font-style: italic; font-weight: bold; font-size: 14px; }


.style12 {color: #000033; font-style: italic; font-weight: bold; font-size: 12px; }
.style13 {color: #000033; font-style: italic; font-weight: bold; font-size: 16px; }
.style14 {color: #010066; font-style: italic; font-weight: bold; font-size: 14px; }
.style15 {color: #010066; font-style: italic; font-weight: bold; font-size: 12px; }
.style16 {color: #010066; font-style: italic; font-weight: bold; font-size: 16px; }
.style17 {color: #FFFFFF; font-size: 18px;}
.style18 {font-weight: bolder; color: #009900; font-size: 1.2em; }
.title {font-size:1.5em; font-weight:bold; color:#003;}
.value {font-size:1.5em;}
.indentText {margin-left:2.75em; padding-left:-2.75em;}