<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Brooklyn Queens Holy Name Society of the NYPD</title>
<link href="styles/bqhnsStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="container">

  <div id="header">
    <a href="default.html"><img src="images/BQHNS_header3.jpg" width="800" height="200" alt="Return to the Brooklyn Queens Holy Name Society of the NYPD's home page" border="0" /></a>
  </div>

  <div id="breadcrumbs">
    <ul>
      <li><a href="default.html" title="link to the BQ Holy Name home page">BQHNS Home</a></li>
      <li>Page Title here</li>
    </ul>
  </div>

  <div id="contentarea" class="ClearFix">
        <div id="SectionNav">
            <ul class="LeftNav">
            	<li><a href="default.html" title="Brooklyn Queens Holy Name Society of the NYPD">Home</a></li>
            	<li><a href="boardofdirectors.html" title="Board of Directors">Board of Directors</a></li>
            	<li><a href="contactus.html" title="Contact Us">Contact Us</a></li>
            	<li><a href="events.html" title="Events">Events</a></li>
            	<li><a href="gallery.html" title="Photo Gallery">Photo Gallery</a></li>
            	<li><a href="membership.html" title="Membership">Membership</a></li>
            	<li><a href="presmessage.html" title="President's Message">President's Message</a></li>
            	<li><a href="chapmessage.html" title="Chaplain's Message">Chaplain's Message</a></li>
            	<li><a href="scholarships.html" title="Scholarships">Scholarships</a></li>
            	<li><a href="links.html" title="Links">Links</a></li>
            	<li><a href="docs/BQHolyName-Newsletter2010.pdf" title="Newsletter" target="_blank">Newsletter (PDF)</a></li>
            	<li><a href="golfouting.html" title="link to the Annual Golf Outing">Annual Golf Outing</a></li>
            	<li><a href="docs/fundraiser-application.pdf" title="link to the BJ's fundraiser application in PDF" target="_blank">BJ's Fundraiser Application (PDF)</a></li>
            </ul>
        </div>
      	<div id="content">
            <h1>&nbsp;</h1>
	    <p>&nbsp;</p>
        </div>
  </div>

  <div id="footer">
  	Copyright (C) 2011 all inclusive.<br />
	Brooklyn and Queens NYPD Holy Name Society
  </div>

</div>
</body>
</html>