body {
	background-image: url(../images/pgbg.gif);
	font-family: Georgia, "Times New Roman", Times, serif;
}
<!-- a:link { color: #B92929; text-decoration: none; }
<!-- a:visited {color: #B92929; text-decoration: none; } -->
<!-- a:hover {color: #DCAC2D; text-decoration: none; } -->
<!-- a:active {color: #2777BB; text-decoration: none; } -->
a:link {color: #0000FF; text-decoration: none; }
a:visited {color: #000066; text-decoration: none; }
a:hover {color: #DCAC2D; text-decoration: none; }
a:active {color: #0000FF; text-decoration: none; }
.style1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #000033;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
}
.style2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FF9900;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
.style3 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #010066;
}
.style4 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #010066; }
.style5 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; }
.style6 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #010066; }
.style7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.style8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: italic;
	color: #01005C;
}
.style9 {color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.style10 {color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
}
.style11 {color: #010066;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
}
.style12 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #000033;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
}
.style13 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #000033;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
}
.style14 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #000033;
	font-style: italic;
	font-weight: bold;
	font-sizw: 14px;
}
.style15 {color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.style16 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #010066;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
}
.style17 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #010066;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
}
.style18 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #010066;
	font-style: italic;
	font-weight: bold;
	font-sizw: 14px;
}
.style19 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #010066;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
}
.style20 {color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}